{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "endOfLine": "lf",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./src/styles/globals.css",
  "tailwindFunctions": ["cn", "clsx"],
  "importOrder": [
    "^react",
    "^@tanstack/(.*)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/app/(.*)",
    "^@/routes/(.*)",
    "^@/components/(.*)",
    "^@/hooks/(.*)",
    "^@/lib/(.*)",
    "^@/provider/(.*)",
    "^@/locale/(.*)",
    "",
    "^\\.\\./(.*)",
    "^\\./(.*)",
    "",
    "\\.(s?css|less)$",
    "",
    "<TYPES>",
    ""
  ]
}
